.header {
    display: flex;
    align-items: center;
    padding: 0.5rem 2rem;
}

.navigation,
.userActions {
    display: flex;
    align-items: center;
    flex: 1;
}

.navLink {
    padding: 0.6rem 0.8rem;
    font-weight: 300;
}

.activeNavLink {
    font-weight: 500;
}

.logo {
    margin: 0 auto;
    cursor: pointer;
}

.userActions {
    justify-content: flex-end;
}

button,
.actionLink {
    width: 42px;
    height: 42px;
    border-radius: 0.5rem;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    cursor: pointer;
    background-color: transparent;
}

button:hover,
.actionLink:hover,
.navLink:hover {
    background-color: #f5f5f5;
}

.flag {
    height: 19px;
    width: 19px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover; 
}

.cartLink {
    position: relative;
}

.cartBadge {
    position: absolute;
    border-radius: 50%;
    background-color: black;
    color: white;
    width: 16px;
    height: 16px;
    font-size: 10px;
    font-weight: 600;
    bottom: 10px;
    right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
}